# Dev 개발 서버 환경 설정
spring:
  datasource:
    url: jdbc:mysql://dev-db-host:3306/logback_elasticsearch_kibana?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: dev_user
    password: dev_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: info
#    org.hibernate.SQL: INFO