spring:
  profiles:
    active: local # 기본 프로파일을 local로 설정

  # 공통 JPA 설정
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect